@using Uni_Sphere.Models.Domain
@using Uni_Sphere.Models.Enum
@model Uni_Sphere.Models.ViewModels.AddCourseRequest
@{
    ViewData["Title"] = "Add Course";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1 class="text-center">Add Course</h1>
    </div>
</div>

<div class="container py-3">
    <form method="post">
        <div class="mb-3">
            <label for="Name" class="form-label">Course Name</label>
            <input type="text" class="form-control" id="Name" asp-for="Name" placeholder="Enter Course Name" required>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label for="Code" class="form-label">Code</label>
            <input type="text" class="form-control" id="Code" asp-for="Code" placeholder="Enter Course Code" required>
            <span class="text-danger" asp-validation-for="Code"></span>
        </div>
        <div class="mb-3">
            <label for="CreditHours" class="form-label">Credit Hours</label>
            <input type="number" step="1" class="form-control" id="studentCredits" asp-for="CreditHours" placeholder="Enter Credit Hours" required>
            <span class="text-danger" asp-validation-for="CreditHours"></span>
        </div>
        <div class="mb-3">
            <label for="CourseType" class="form-label">CourseType</label>
            <select class="form-select" id="CourseType" asp-for="CourseType" asp-items="Html.GetEnumSelectList<CourseType>()">
                <span class="text-danger" asp-validation-for="CourseType"></span>
            </select>
        </div>
        <div class="mb-3">
			<label for="IsLab" class="form-label">IsLab</label>
			<select class="form-select" id="IsLab" asp-for="IsLab">
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea class="form-control" id="Description" asp-for="Description" placeholder="Enter Description (Less than 1000 characters)"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Departments</label>
            <select class="form-select"
            asp-for="selectedDepartments"
					asp-items="@Model.Departments"
					required>
                </select>
            <span class="text-danger" asp-validation-for="selectedDepartments"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

@* Client Side Validation using jScript *@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

