@using Microsoft.AspNetCore.Identity
@using Uni_Sphere.Utility
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}


<!-- Admin Functionality -->
@if (SignInManager.IsSignedIn(User))
{
    string userEmail = User?.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Email)?.Value;

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        @if (User.IsInRole(SD.Role_Admin))
        {
            <h2>Admin</h2>
        }
        else if (User.IsInRole(SD.Role_Teacher))
        {
            <h2>Teacher</h2>
        }
        else if (User.IsInRole(SD.Role_Student))
        {
            <h2>Student</h2>
        }

        @if (!string.IsNullOrEmpty(userEmail))
        {
            <p>Email: @userEmail</p>
        }
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}
